@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Roboto+Condensed:wght@400;700&display=swap');

:root {
  --font-family: 'Roboto Condensed', sans-serif;
  --font-size: 16px;
  --line-height: 24px;
  --font-weight: 400;

  /* color-scheme: light dark; */
  --bg-color-light: rgb(255, 255, 255);
  --calc-color-light: rgba(221, 217, 224, 0.5);
  --color-dark: rgb(25, 182, 203);
  --color-light: #242424;
  --border-light: rgb(243, 177, 72);
  --display-light: rgb(240, 213, 139);
  --border-calc-light: rgb(169, 167, 170);
  --calc-dark: rgb(41, 40, 40);
  --border-out: lightgrey;
  --text-dark: #808080;
  --bg-color-dark: #414040;

  /*spaces*/
  --xxs: .3125rem;
  --xs: .5rem;
  --s: .625rem;
  --sm: .9375rem;
  --m: 1.25rem;
  --ml: 1.5625rem;
  --lg: 1.875rem;
  --xl: 3.125rem;
  --xxl: 6.25rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: var(--font-family);
  margin: 0;
  display: flex;
  place-items: center;
  color: var(--calc-dark);
  background-color: var(--bg-color-light);
}
main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: var(--lg);
  max-width: 1000px;
  margin: 3rem auto;
}
#app {
  width: 100%;
}

button {
  border-radius: var(--xs);
  border: 1px solid var(--border-light);
  padding: 0.6em 1.2em;
  font-size: 1.2em;
  font-weight: 900;
  font-family: inherit;
  background-color: var(--calc-color-light);
  color: var(--border-light);
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 2px 2px 2px;
}
button:hover {
  border-color: var(--main-color-light);
}
button:active {
  transform: scale(0.9);
  transition: 0.2s;
}
.rotate {
  transform: rotate(180deg);
  transition: 1s;
  font-family: 'Orbitron', sans-serif;
}
.dark {
  color: var(--text-dark);
  background-color: var(--bg-color-dark);
  --display-light : rgba(66, 150, 171, 0.699);
  --border-light: var(--color-dark);
  --calc-color-light: var(--calc-dark);
  --bg-color-light: var(--calc-dark);
  --border-out: rgb(84, 82, 82);
}